header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	background-color: orange;
	color: white;
}

h1,
p {
	margin: 0;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: max-content;
	margin: 1rem auto 0rem auto;
	gap: 1rem;
}

main textarea {
	width: calc(100% - 1rem);
}

.note {
	width: 400px;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	box-shadow: 0rem 0.2rem 0.3rem #00000071;
	margin: 1rem;
}

.buttonContainer * {
	display: block;
	margin-left: auto;
}

.note-container {
	/* padding: 1rem; */
	border-bottom: 0.25rem solid orange;
	min-height: 50px;
}

.gap {
	height: 0.5rem;
}

.container {
	margin: 1rem;
}

.containerForm {
	width: fit-content;
	margin: auto;
}

button {
	padding: 0.5rem;
}

input {
	padding: 0.5rem;
	margin-right: 1rem;
}
